/* Copyright © 2021 STJV contact@stjv.com

  This work is free. You can redistribute it and/or modify it under the
  terms of the Do What The Fuck You Want To Public License, Version 2,
  as published by Sam Hocevar. See the COPYING file for more details.
*/

.ripple {
  background-position: center;
  transition: background-color var(--feedback-duration);
}

.ripple:hover {
  background: var(--primary-light) radial-gradient(circle, transparent 1%, var(--primary-light) 1%) center/15000%;
}

.ripple:active {
  background-color: var(--primary);
  background-size: 100%;
  transition: background-color 0s;
}
